// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-li {
	overflow: auto;
	li {
		width: 130px;
		height: 130px;
		line-height: 130px;
		text-align: center;
		margin: 30px;
		background: rgba(173, 14, 17, 0.2);
		a {
			color: #000;
			display: block;
		}
		float: left;
	}
	li:hover {
		cursor: pointer;
		background: rgba(173, 14, 17, 0.9);
		a {
			color: #fff;
		}
	}
}